<a href="https://colab.research.google.com/github/ivon3/Tugas-Pekan-13-Algoritma-Pemrograman-A/blob/main/Pertemuan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
awal=int(input ("Set Nilai Awal = "))
akhir=int(input ("Set Nilai Akhir = "))

count=0
summ=0
print('Bilangan antara %d dan %d' %(awal,akhir))

for i in range (awal,akhir+1):
  print(i, =' ')
  count=count+1
  summ=summ+i

print('Bilangan di atas ada %d bilangan' %count)
print('Jumlah semua bilangan adalah %d' %summ)

Set Nilai Awal = 1
Set Nilai Akhir = 100
Bilangan antara 1 dan 100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 Bilangan di atas ada 100 bilangan
Jumlah semua bilangan adalah 5050

In [ ]:
awal=int(input ("Set Nilai Awal = "))
akhir=int(input ("Set Nilai Akhir = "))

times=1

for i in range (awal,akhir+1,3):
  print(i, end = ' ')
  times=times*i

print('Hasil perkalian seluruh bilangan adalah %d' %times)

Set Nilai Awal = 1
Set Nilai Akhir = 10
1 4 7 10 Hasil perkalian seluruh bilangan adalah 280

In [ ]:
for x in range(1,3):
  for y in range(1,3):
    for z in range(1,3):
      print (x, y, z, x*y*z)

1 1 1 1
1 1 2 2
1 2 1 2
1 2 2 4
2 1 1 2
2 1 2 4
2 2 1 4
2 2 2 8

In [ ]:
mat1 = [[3,0],[4,9],]
mat2 = [[1,0],[5,9],]

for x in range(0, len(mat1)):
  for y in range(0, len(mat1[0])):
    print (mat1[x][y] + mat2[x][y], end=' '),
  print

4 0 9 18

In [ ]:
for i in [12,16,17,24,29]:
  if i % 2 == 1:
    break
  print(i)
print('selesai')

12
16
selesai